<div class="body" id = "body">
  <div class="toolbar">
    <button class="circleButton" (click)="drawNode()"><i class="fa-solid fa-circle" style="color: red
    ;"></i> <p>Add Node</p> </button>
    <button class="LineButton" (click)="connect()"><i class="fa-solid fa-arrow-right" style="color: white;"></i> <p>Connect Nodes</p></button>
    <button (click)="solve()"><i class="fa-solid fa-play" style="color: lightgreen;"></i>  <p>Solve</p> </button>
  </div>
  <div id="konva-holder" class="main" (mousedown)="MouseDownHandler()"></div>

  <div class="light-blocker" id = "light-blocker"></div>

  <div class="popup" id="popup">

    <div class="enter-gain-div">
      <span>Enter gain:</span>
      <input type="text" id="gainField"/>
    </div>

    <button id = "enter-gain-button" (click)="takeGain()">Enter</button>

  </div>

</div>

<div id="final-solution-field">
  <h2>Farward paths are: </h2>
  <hr>
  <div id="farward-paths-field">
    <table id = "fp-table">
      <thead id = "fp-table-head">
        <tr>
          <td>Farward path</td>
          <td>Farward path gain</td>
        </tr>
      </thead>
      <tbody id = "fp-table-body">
      </tbody>
    </table>
  </div>

  <div id="All-loops">
    <div id="loops">
      <h2>Loops are: </h2>
      <hr>
      <div id="loops-field">
        <table id = "loops-table">
          <thead id = "loops-table-head">
            <tr>
              <td>Loop</td>
              <td>loop gain</td>
            </tr>
          </thead>
          <tbody id = "loops-table-body">
          </tbody>
        </table>
      </div>
    </div>

    <div id="nonTouching">
      <h2>Non touching loops are:</h2>
      <hr>
      <div id="nonTouching-field">
        <ol id="nonTouching-list">
    
        </ol>
      </div>
    </div>
  </div>

  <div id="final-result">
    <h1 style="margin-bottom: 10px; text-align: center;" >Final Results </h1>
    <hr style="margin-bottom: 20px;">
    <div id="deltais">
        <!-- <h5 style="margin-bottom: 10px;">△ and △<sub>1</sub>..△<sub>2</sub>..△<sub>3</sub>..etc</h5>
        <hr style="margin-bottom: 10px;"> -->
        <ol id = "deltais-list">
        </ol>
    </div>
    <div id = "tf">

    </div>
  </div>

</div>